@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "variables";
@import "reset";
@import "grid";


*,
html,
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  // background: purple;
  transition: ease-in-out;
}

@import "listings";
@import "content-area";

@media (max-width: 767px) {


  header {
    nav {
      a {

        float: right;
        font-size: 0.8rem;
        font-weight: 500;



      }
    }


  }




  #filter {
    select {

      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


    }

  }

  #listings {
    .sortby-area {
      .sort-options {
        select {
          font-size: 0.6rem;
          margin-right: 0px;
          font-weight: 600;
          padding: 5px 5px;
        }
      }
    }
  }




}

.anon {
  color: red;
  font-size: 1rem;
}

.register-btn,
.login-btn {
  cursor: pointer;
  padding-top: 10px;
}

.loggedinas {

  color: red;
}

h1 {
  font-size: 1.6rem;
  font-weight: 800px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #555;
}

.btn-primary{
  background: #d84549;
  padding: 7px 25px;
  text-align: center;
  color: white;
  border-radius: 8px;
  border-color: #d84549;
}


.btn-primary:hover {
  color: #fff;
  background-color: #ff694c;
  border-color: #ff694c;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #d1536b;
  border-color: #d1536b;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #d84549;
  border-color: #ff7579;
  
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.btn-secondary {
  color: #fff;
  background-color: #555;
  border-color: #555;
    padding: 7px 25px;
  text-align: center;
  color: white;
  border-radius: 8px;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #6d6c6c;
  border-color: #6d6c6c;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #555;
  border-color: #555;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #555;
  border-color: #555;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.linkline{
  color: #ccc;
}
